body {
    font-family: sans-serif;
    background-image: url(/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

p {
    color: black;
}

h1 {
    text: spacing 2px; ;
    color: black;
    /* For text decoration examples, refer to MDN: https://developer.mozilla.org/en-US/docs/Web/CSS/text-decoration */
    text-decoration: underline;
    text-shadow: 2px 2px 5px gray;

    
      
      
}

.container {
    
    text-align: center;
    margin-top: 50px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.15); /* Changed from auto to a visible color */
    border-radius: 20px;
    box-shadow: 10px 1px 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    
}

.Timezone {
    margin-top: 5px;
    text-align: left;
}

.span {
    color: black; /* Changed from auto to black or your preferred color */
}
.logo
{
    height:auto;
    width:auto;
    opacity: 1;
    animation: wiggle 1s ease-in-out infinite;
}

@keyframes wiggle {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(5deg); }
    50% { transform: rotate(-5deg); }
    75% { transform: rotate(5deg); }
    100% { transform: rotate(0deg); }
}

/* Style for the button */
button {
    background-color:rgb(7, 68, 160); /* Blue background */
    color: white;           /* White text */
    border: none;           /* No border */
    padding: 10px 20px;     /* Some padding around the text */
    font-size: 16px;        /* Font size */
    cursor: pointer;       /* Change cursor to pointer when hovered */
    border-radius: 5px;     /* Slightly rounded corners */
    transition: background-color 0.3s ease; /* Smooth color change on hover */
}

button:hover {
    background-color: darkblue; /* Darker blue when hovered */
}
.blackline
{
  
    
        border: 0;
        border-top: 1.5px solid black;  /* Creates a black line */
        margin: 20px 0;  /* Adds some space around the line */
    
    
}
